In [12]:
num1=input("enter the number 5")
num2=input("enter the number 6")
sum=("5 + 6 = 11")
print("this is number 5", num1)
print("this is number 6", num2)
print("this is the result",sum)

enter the number 5
enter the number 6
this is number 5
this is number 6
this is the result 5 + 6 = 11

In [13]:
num1=input("enter the number 25")
num2=input("enter the number 5")
division=("25/5 = 5")
print("this is the number 25",num1)
print("this is the number 5",num2)
print("this is the result",division)

enter the number 25
enter the number 5
this is the number 25
this is the number 5
this is the result 25/5 = 5

In [15]:
base=input("base is 10")
height=input("height is 15")
area=("(10*15)/2 = 75
")
print("this the number 10",base)
print("this the number 15",height)
print("this is the result",area)

base is 10
height is 15
this the number 10
this the number 15
this is the result (10*15)/2 = 75

In [24]:
print(19)
print("data type",type(19))

19
data type <class 'int'>

In [25]:
print(16.5)
print("data type",type(16.5))

16.5
data type <class 'float'>

In [28]:
print("erum")
print("data type",type("erum"))

erum
data type <class 'str'>

In [29]:
print(2==2)
print("data type",type(2==2))

True
data type <class 'bool'>